<footer class="footer">
  <div class="f-info">
    <div class="f-info-socials">
      <a href="#"><i class="bi bi-instagram"></i></a>
      <a href="#"><i class="bi bi-facebook"></i></a>
      <a href="#"><i class="bi bi-twitter-x"></i></a>
    </div>
    <div class="f-info-copywrite">&copy; AirBbb All Rights Reserved</div>
    <div class="f-info-links">
      <a href="#">Privacy</a>
      <a href="#">Terms</a>
    </div>
  </div>
</footer>
